.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.home-header {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
}

.home-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1563293815-7d1c589bd909?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwNnx8d2hpdGV8ZW58MHx8fHwxNjY3ODU2NDYx&ixlib=rb-4.0.3&w=1500);
  background-position: center;
}

.home-text01 {
  color: #400 (Gray);
  font-size: 4rem;
  max-width: 550px;
  font-style: normal;
  margin-top: 32px;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  margin-bottom: 32px;
}

.home-hero1 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 1400px;
  align-self: center;
  margin-top: var(--dl-space-space-tenunits);
  min-height: auto;
  align-items: center;
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}

.home-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.home-container1 {
  display: flex;
  margin-left: 32px;
  flex-direction: column;
}

.home-text02 {
  color: #400 (Gray);
  font-size: 3rem;
  font-family: Lato;
}

.home-text06 {
  color: #400 (Gray);
  font-size: 16px;
  margin-top: 32px;
  font-family: Lato;
  margin-bottom: 32px;
  padding-right: 48px;
}

.home-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}

.home-link1 {
  color: #400 (Gray);
  font-family: Lato;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius1);
  text-decoration: none;
  border-width: 2px;
  padding: var(--dl-space-space-unit) 32px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.home-text14 {
  color: #400 (Gray);
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
}

.home-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
}

.home-text18 {
  color: #400 (Gray);
  font-family: Lato;
}

.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-text,
.home-text17 {
  font-size: 48px;
}

.home-link,
.home-link2,
.home-link3,
.home-link4 {
  display: contents;
}

.home-icon,
.home-icon6 {
  width: 32px;
  height: 32px;
  text-decoration: none;
}

.home-text04,
.home-text05 {
  font-style: normal;
  font-weight: 300;
}

.home-icon2,
.home-icon4 {
  width: 32px;
  height: 32px;
  margin-right: 32px;
  text-decoration: none;
}

@media(max-width: 991px) {
  .home-text01 {
    font-size: 5rem
  }

  .home-text14 {
    font-size: 3rem;
  }

  .title {
    font-size: 5rem;
  }

  .home-hero1 {
    padding: 48px;
    flex-direction: column;
    font-size: 5rem;
    padding: var(--dl-space-space-unit-xl);
  }

  .home-container1 {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
    margin-bottom: var(--dl-space-space-unit)
  }

  .home-text02 {
    margin-top: var(--dl-space-space-unit-xl);
    text-align: center;
    font-size: 4rem
  }

  .home-text06 {
    text-align: center;
    font-size: 3rem;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }

  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column-reverse;
    padding-left: 32px;
    padding-right: 32px;
  }

  .home-text18 {
    font-size: 2.5rem;
    margin: var(--dl-space-space-unit-xl) 0 var(--dl-space-space-unit-xl) 0;
  }

  .home-header {
    padding: var(--dl-space-space-unit);
    padding-left: 32px;
    padding-right: 32px;
  }

  .home-hero {
    padding-left: 32px;
    padding-right: 32px;
    padding: 32px var(--dl-space-space-unit)
  }

  .home-btn-group {
    flex-direction: column;
  }

  .home-link1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0;
    border-width: 4px;
  }

  .home-icon,
  .home-icon2,
  .home-icon4,
  .home-icon6 {
    width: 96px;
    height: 96px;
  }
}
